<div id="<%= dom_id article %>">

    <div>
  <%= image_tag article.images[0], class: 'row card-img-top' %>
  </div>

  <p  class="titulo">
    <strong></strong>
    <%= article.description %>
  </p>

</div>



